<div class="row ">
    <div class="col-md-12 clrp">        
    	<h1>Solar sistem</h1>	        	
    	<div class="container-fluid">
    		<div class="row">
    			<div data-ng-repeat="item in testData" class="col-md-3 col-sm-4 clrp">
					<div class="card hover mt3">
						<div class="img-wrap small">
							<a href="#/page-one/details/{{item.id}}">
								<img src="../../assets/img/{{item.img}}.jpg" alt="{{item.name}}">
							</a>
						</div>
						<div class="descr">
							<h2 class="title">{{item.name}}</h2>							
							<span class="subtitle">radius-{{item.radius}}km</span>
							<hr>
							<p>{{item.description.substring(0, 120)}}...</p>
							<a data-ng-href="#/page-one/details/{{item.id}}" class="btn grey">Reead more</a>
						</div>
					</div>	        				
    			</div>
    			<div class="col-md-3 col-sm-4 clrp">
    				<div class="add-page-wrap">
    					<button type="button" data-popup="add-page" popup><i class="fa fa-plus"></i></button>
    				</div>
    			</div>
    		</div>
    	</div>	
    	<div class="popup" id="add-page">
    		<div class="popup-content">
    			<button class="fade-out" id="popup-close"><i class="fa fa-times"></i></button>
	    		<form data-ng-submit="newPage()">
					<div class="form-group">
						<input type="text" name="page-name" id="page-name" data-ng-model="page.name"/>
						<label for="page-name">Name</label>
					</div>		

					<div class="form-group">
						<input type="number" name="page-radius" id="page-radius" data-ng-model="page.radius"/>
						<label for="page-radius">Radius</label>
					</div>
<!-- 
					<div class="form-group">
						<input type="file" name="page-image" id="page-image" data-ng-model="page.image"/>
						<label for="page-image">Image</label>
					</div>				  
 -->
					<div class="form-group">
						<textarea name="pade-descr" id="pade-descr" data-ng-model="page.description"></textarea>
						<label for="pade-descr">Description</label>
					</div>					
					<button type="submit" class="btn full mt2" >Submit</button>
				</form>
			</div>
    	</div>	
    </div>
</div>